
.app-fab-progress {
    margin: 10px;

    button {
        z-index: 2;
    }

    .mat-progress-spinner {
        z-index: 1;
        height: 70px !important;
        width: 70px !important;
        position: relative;
        top: -63px;
        margin-bottom: -70px;
        margin-left: auto;
        margin-right: auto;
    }
}
